@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #171717;
}

*{
  box-sizing: border-box;
 }

body {
  min-height: 100vh;
  background: radial-gradient(circle,rgba(42, 136, 155, 1) 14%, rgba(43, 161, 127, 1) 100%, rgba(237, 221, 83, 1) 100%);
  color: var(--text-color);
  font-family: var(--font-body);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1rem;
}